@{
    ViewBag.Title = "Find Jobs";
    Layout = "~/Views/Shared/homelayout2.cshtml";
}
@model IEnumerable<JOBSEEKER.Models.job>
<section class="pxp-page-header-simple">
    <div class="pxp-container">
        <h1 class="text-center">Search Jobs</h1>
        <div class="pxp-hero-subtitle pxp-text-light text-center">Search your career opportunity through <strong> @Session["total"] </strong> jobs</div>
        <div class="pxp-hero-form pxp-hero-form-round pxp-large mt-3 mt-lg-4 pxp-has-bg">
            <form class="row gx-3 align-items-center">
                <div class="col-12 col-lg">
                    <div class="input-group mb-3 mb-lg-0">
                        <span class="input-group-text"><span class="fa fa-search"></span></span>
                        <input type="text" id="myInput" class="form-control" placeholder="Job Title or Keyword">
                    </div>
                </div>
                <div class="col-12 col-lg pxp-has-left-border">
                    <div class="input-group mb-3 mb-lg-0">
                        <span class="input-group-text"><span class="fa fa-globe"></span></span>
                        <input type="text" id="myInput" class="form-control" placeholder="Location">
                    </div>
                </div>
                <div class="col-12 col-lg pxp-has-left-border">
                    <div class="input-group mb-3 mb-lg-0">
                        <span class="input-group-text"><span class="fa fa-folder-o"></span></span>
                        <input type="text" id="myInput" class="form-control" placeholder="Category">
                    </div>
                </div>
                <div class="col-12 col-lg-auto">
                    <button>Find Jobs</button>
                </div>
            </form>
        </div>

    </div>
</section>

<section class="mt-4 mt-lg-5 pt-100 pb-100" style="background-color: var(--pxpSecondaryColorLight);">
    <div class="pxp-container">
        <div class="pxp-jobs-list-top">
            <div class="row justify-content-between align-items-center">
                <div class="col-auto">
                    <h2><span class="pxp-text-light">Showing</span>  @Session["tota"]  <span class="pxp-text-light">jobs</span></h2>
                </div>
                <div class="col-auto">
                    <select class="form-select">
                        <option value="0" selected>Most relevant</option>
                        <option value="1">Newest</option>
                        <option value="2">Oldest</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row" id="myTable">
            @foreach (var item in Model)
            {
                <div class="col-md-6 col-xl-4 col-xxl-3 pxp-jobs-card-1-container" id="test">
                    <div class="pxp-jobs-card-1 pxp-has-shadow">
                        <div class="pxp-jobs-card-1-top">
                            <a href="@Url.Action("singlejob", "Home", new { @id = item.ID})" class="pxp-jobs-card-1-category">
                                <div class="pxp-jobs-card-1-category-icon"><span class="fa fa-bullhorn"></span></div>
                                <div class="pxp-jobs-card-1-category-label">@item.category</div>
                            </a>
                            <a href="@Url.Action("singlejob", "Home", new { @id = item.ID})" class="pxp-jobs-card-1-title">@item.title</a>
                            <div class="pxp-jobs-card-1-details">
                                <a href="@Url.Action("catjob", "Home", new {@cat = item.category})" class="pxp-jobs-card-1-location">
                                    <span class="fa fa-globe"></span>@item.locat
                                </a>
                                <div class="pxp-jobs-card-1-type">@item.typE</div>
                            </div>
                        </div>
                        <div class="pxp-jobs-card-1-bottom">
                            <div class="pxp-jobs-card-1-bottom-left">
                                <div class="pxp-jobs-card-1-date pxp-text-light">Posted by</div>
                                <a href="@Url.Action("singlejob", "Home", new { @id = item.ID})" class="pxp-jobs-card-1-company">@item.company</a>
                            </div>
                            <a href="@Url.Action("singlejob", "Home", new { @id = item.ID})" class="pxp-jobs-card-1-company-logo"><img src="~/image/@item.cover" class="img-fluid rounded-pill" /></a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>